@font-face {
    font-family: 'Smoothie Shoppe';
    src: url('Smoothie_Shoppe.eot');
    src: url('Smoothie_Shoppe.eot?#iefix') format('embedded-opentype'),
        url('Smoothie_Shoppe.woff2') format('woff2'),
        url('Smoothie_Shoppe.woff') format('woff'),
        url('Smoothie_Shoppe.ttf') format('truetype'),
        url('Smoothie_Shoppe.svg#Smoothie_Shoppe') format('svg');
    font-weight: normal;
    font-style: normal;
}

